flows.json
[{"id":"744658bd.00d8c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"44674d5c.c6d364","type":"ibmiot in","z":"744658bd.00d8c8","authentication":"apiKey","apiKey":"18e068af.ef6397","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"567890","applicationId":"","deviceType":"RaspberyyPi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":300,"y":280,"wires":[["90920277.b4a02","fe9fa489.8790b8","32abafce.c259c","c4a5ba8.f66bb48"]]},{"id":"cdfea40.b10406","type":"debug","z":"744658bd.00d8c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":260,"wires":[]},{"id":"90920277.b4a02","type":"function","z":"744658bd.00d8c8","name":"Temperature","func":"global.set('Temperature',msg.payload.Temperature)\nmsg.payload= msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":360,"wires":[["cdfea40.b10406","98f57217.2fef4"]]},{"id":"fe9fa489.8790b8","type":"function","z":"744658bd.00d8c8","name":"Soil Moisture","func":"global.set('Soil_moisture',msg.payload.Soil_moisture)\nmsg.payload= msg.payload.Soil_moisture\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":420,"wires":[["cdfea40.b10406","2cab82f3.c1d00e"]]},{"id":"32abafce.c259c","type":"function","z":"744658bd.00d8c8","name":"Humidity","func":"global.set('Humidity',msg.payload.Humidity)\nmsg.payload= msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":500,"wires":[["cdfea40.b10406","53421d88.eb5e04"]]},{"id":"98f57217.2fef4","type":"ui_gauge","z":"744658bd.00d8c8","name":"","group":"6a5cf679.f12828","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":400,"wires":[]},{"id":"53421d88.eb5e04","type":"ui_gauge","z":"744658bd.00d8c8","name":"","group":"6a5cf679.f12828","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":480,"wires":[]},{"id":"2cab82f3.c1d00e","type":"ui_gauge","z":"744658bd.00d8c8","name":"","group":"6a5cf679.f12828","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":540,"wires":[]},{"id":"b39a16c.91f74e8","type":"ibmiot out","z":"744658bd.00d8c8","authentication":"apiKey","apiKey":"18e068af.ef6397","outputType":"cmd","deviceId":"567890","deviceType":"RaspberryPi","eventCommandType":"Control Motor","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":670,"y":620,"wires":[]},{"id":"603b3e78.4951b","type":"ui_button","z":"744658bd.00d8c8","name":"","group":"6a5cf679.f12828","order":3,"width":"4","height":"1","passthru":false,"label":"Start Motor","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\": \"STARTING MOTOR\"}","payloadType":"json","topic":"","x":280,"y":540,"wires":[["b39a16c.91f74e8"]]},{"id":"16b76792.b337f8","type":"ui_button","z":"744658bd.00d8c8","name":"","group":"6a5cf679.f12828","order":4,"width":"4","height":"1","passthru":false,"label":"Stop Motor","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command'\": \"Stopping Motor\"}   ","payloadType":"json","topic":"","x":280,"y":620,"wires":[["b39a16c.91f74e8"]]},{"id":"c4a5ba8.f66bb48","type":"ui_text","z":"744658bd.00d8c8","group":"6a5cf679.f12828","order":5,"width":"6","height":"5","name":"From Sensor","label":"Message","format":"{{msg.payload}}","layout":"col-center","x":200,"y":440,"wires":[]},{"id":"80b6e3d8.0449","type":"http in","z":"744658bd.00d8c8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":290,"y":120,"wires":[["643c547f.2571cc"]]},{"id":"106404d1.57f16b","type":"http response","z":"744658bd.00d8c8","name":"","statusCode":"","headers":{},"x":580,"y":140,"wires":[]},{"id":"643c547f.2571cc","type":"function","z":"744658bd.00d8c8","name":"data","func":"msg.payload= {'temperature':global.get(\"Temperature\"),'humidity':global.get(\"Humidity\"),'Soil moisture':global.get(\"Soil_moisture\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":80,"wires":[["106404d1.57f16b"]]},{"id":"c6cc63bd.68b7a","type":"http in","z":"744658bd.00d8c8","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":740,"y":200,"wires":[["6fc76259.60a90c"]]},{"id":"6fc76259.60a90c","type":"function","z":"744658bd.00d8c8","name":"command","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":120,"wires":[["1e154e64.409b12","d566d778.2de808","b39a16c.91f74e8"]]},{"id":"1e154e64.409b12","type":"debug","z":"744658bd.00d8c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":100,"wires":[]},{"id":"d566d778.2de808","type":"http response","z":"744658bd.00d8c8","name":"","statusCode":"","headers":{},"x":1190,"y":200,"wires":[]},{"id":"18e068af.ef6397","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"6a5cf679.f12828","type":"ui_group","z":"","name":"Default","tab":"2a998126.8b39ee","order":1,"disp":true,"width":"6","collapse":false},{"id":"2a998126.8b39ee","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]